{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin: 25px;">
        <i class="material-icons left">add</i> Validation de Frais Hors Forfait
        <div class="divider"></div>
    </div>
    <div class="card" style="padding: 30px;">
        <table class="bordered highlight">
            <thead>
            <tr>
                <th>Intitulé</th>
                <th>Prix</th>
                <th>Date</th>
                <th>Justificatif</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ forfaitHorsFrais.wording }}</td>
                <td>{{ forfaitHorsFrais.price }} €</td>
                <td>{% if forfaitHorsFrais.dateDuFrais %}{{ forfaitHorsFrais.dateDuFrais|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if forfaitHorsFrais.pieceJointe is not empty %}
                        <a href="{{ asset('uploads/pieceJointes/' ~ pj) }}">Voir la pièce jointe</a>
                    {% else %}
                        Pas de pièce jointe
                    {% endif %}
                </td>
            </tr>
            </tbody>
        </table>
        {{ form_start(form) }}
        <div class="row">
            {{ form_widget(form) }}
        </div>
        <div style="margin-top: 20px;">
            <input class="btn green darken-3" type="submit" value="Valider l'édition    " />
        </div>
        {{ form_end(form) }}
    </div>
    <div style="margin: 30px 0px;">
        <a class="waves-effect waves-light btn blue darken-4" href="{{ path('index_admin') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
