{% extends 'base.html.twig' %}

{% block body %}
    <div style="margin: 25px;" class="green-text">
        <i class="material-icons left green-text">sync</i>Fiches frais du mois
        <div class="divider"></div>
    </div>
    <ul class="collapsible popout" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                <i class="material-icons blue-text text-darken-4">note</i>
                {{ onefichefrais.monthyear }}
                <tr>
                    <th>|  état: </th>
                </tr>
                <tr>
                    <td>
                        {% if onefichefrais.etat %}
                            {{ onefichefrais.etat }}
                        {% elseif "now"|date("d") < 11 %}
                            ouvert
                        {% elseif "now"|date("d") > 10 %}
                            En traitement
                        {% elseif "now"|date("d") > 20 %}
                            En cours de paiement
                        {% endif %}
                    </td>
                </tr>
            </div>
            <div class="collapsible-body">

                <table class="bordered highlight">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Intitulé</th>
                        <th>Prix</th>
                        <th>Commentaire</th>
                        <th>Etat</th>
                        <th>Pièce jointe</th>
                        {% if "now"|date("d") < 11 %}
                            <th>action(s)</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for HorsFrai in onefichefrais.horsFrais %}
                        <tr>
                            <td>{% if HorsFrai.dateDuFrais %}{{ HorsFrai.dateDuFrais|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ HorsFrai.wording }}</td>
                            <td>{{ HorsFrai.price }} €</td>
                            <td>
                                {% if HorsFrai.comment %}
                                    {{ HorsFrai.comment }}
                                {% else %}
                                    Pas de commentaire
                                {% endif %}
                            </td>
                            <td>
                                {% if HorsFrai.etat is not null %}
                                    {{ HorsFrai.etat.wording }}
                                {% elseif "now"|date("d") < 11 %}
                                    Pas encore traité
                                {% elseif "now"|date("d") > 10 %}
                                    En traitement
                                {% elseif "now"|date("d") > 20 %}
                                    Veuillez contacter la comptabilité
                                {% endif %}
                            </td>
                            <td>
                                {% if HorsFrai.pieceJointe %}
                                    {{ HorsFrai.pieceJointe }}
                                {% else %}
                                    Pas de pièce jointe
                                {% endif %}
                            </td>
                            {% if "now"|date("d") < 11 %}
                                <td>
                                    <a href="{{ path('forfaithorsfrais_edit', { 'id': HorsFrai.id }) }}">Modifier</a>
                                </td>
                            {% endif %}

                        </tr>
                    {% endfor %}
                    {% for Frai in onefichefrais.frais %}
                        <tr>
                            <td>{% if Frai.dateDuFrais %}{{ Frai.dateDuFrais|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{{ Frai.forfait.wording }}</td>
                            <td>{{ Frai.quantity * Frai.forfait.unitPrice }} €</td>
                            <td>
                                {% if Frai.comment %}
                                    {{ Frai.comment }}
                                {% else %}
                                    Pas de commentaire
                                {% endif %}
                            </td>
                            <td>
                                {% if Frai.etat is not null %}
                                    {{ Frai.etat.wording }}
                                {% elseif "now"|date("d") < 11 %}
                                    Pas encore traité
                                {% elseif "now"|date("d") > 10 %}
                                    En traitement
                                {% elseif "now"|date("d") > 20 %}
                                    Veuillez contacter la comptabilité
                                {% endif %}
                            </td>
                            {% if "now"|date("d") < 11 %}
                                <td>
                                    <a href="{{ path('forfaitfrais_edit', { 'id': Frai.id }) }}">Modifier</a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                    <a href="{{ path('fichefrais_pdf', { 'id': onefichefrais.id, 'name': attribute(onefichefrais, 'MonthYear')}) }}" target="_blank" title="Generer pdf" class="waves-effect waves-light btn red darken-2"><i class="material-icons left">picture_as_pdf</i>Generer pdf</a>
                   {# <a class="waves-effect waves-light btn red darken-2"><i class="material-icons left">picture_as_pdf</i>Generer pdf</a>#}
                </div>
            </div>
        </li>
    </ul>
    <div style="margin: 25px;" class="grey-text">
        <i class="material-icons left grey-text">archive</i>Fiches frais cloturées
        <div class="divider"></div>
    </div>
    <ul class="collapsible popout" data-collapsible="accordion">
        {% for ficheFrai in allexceptlast %}
            <li>
                <div class="collapsible-header">
                    <i class="material-icons blue-text text-darken-4">note</i>
                    {{ ficheFrai.monthyear }}
                </div>
                <div class="collapsible-body">
                    <table class="bordered highlight">
                        <thead>
                            <tr>
                              <th>Intitulé</th>
                              <th>Prix</th>
                              <th>Date</th>
                              <th>Commentaire</th> 
                              <th>Pièce jointe</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for HorsFrai in forfaitHorsFrais %}
                              <tr>
                                  <td>{{ HorsFrai.wording }}</td>
                                  <td>{{ HorsFrai.price }}</td>
                                  <td>{% if HorsFrai.dateDuFrais %}{{ HorsFrai.dateDuFrais|date('Y-m-d H:i:s') }}{% endif %}</td>
                                  <td>{{ HorsFrai.comment }}</td>
                                  <td>{{ HorsFrai.pieceJointe }}</td>
                              </tr>
                          {% endfor %}
                          {% for Frai in forfaitFrais %}
                              <tr>
                                  <td>{{ Frai.type }}</td>
                                  <td>{{ Frai.quantity }}</td>
                                  <td>{% if Frai.dateDuFrais %}{{ Frai.dateDuFrais|date('Y-m-d H:i:s') }}{% endif %}</td>
                                  <td></td>
                                  <td></td>
                              </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                    <div>
                      <a class="waves-effect waves-light btn red darken-2"><i class="material-icons left">picture_as_pdf</i>Generer pdf</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <ul>
        {#<li>
            <a href="{{ path('fichefrais_new') }}">Create a new ficheFrai</a>
        </li>
        <li>
            <a href="{{ path('forfaitfrais_new', { 'ficheFraisId': lastfichefrais.0.id }) }}" class="btn">Ajouter une note de Frais</a>
        </li>
        <li>
            <a href="{{ path('forfaithorsfrais_new', { 'ficheFraisId': lastfichefrais.0.id }) }}" class="btn">Ajouter une note Hors Frais</a>
        </li>#}
    </ul>
{% endblock %}
