{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <div style="margin: 25px;" class="grey-text">
        <i class="material-icons left grey-text">sync</i>Fiche Frais du mois
        <div class="divider"></div>
    </div>
    <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                {% for onefichefrais in thisMonthfichefrais %}

                <div class="collapsible-header">
                    <i class="material-icons blue-text text-darken-4">note</i>
                    {{ onefichefrais.monthyear }}
                </div>
                <div class="collapsible-body">

                    <table class="bordered highlight">
                        <thead>
                        <tr>
                            <th>Intitulé</th>
                            <th>Prix</th>
                            <th>Date</th>
                            <th>Commentaire</th>
                            <th>Pièce jointe</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for HorsFrai in onefichefrais.horsFrais %}
                            <tr>
                                <td>{{ HorsFrai.wording }}</td>
                                <td>{{ HorsFrai.price }}</td>
                                <td>{% if HorsFrai.dateDuFrais %}{{ HorsFrai.dateDuFrais|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ HorsFrai.comment }}</td>
                                <td>{{ HorsFrai.pieceJointe }}</td>
                                <td>
                                    <a href="{{ path('forfaithorsfrais_edit', { 'id': HorsFrai.id }) }}">edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for Frai in onefichefrais.frais %}
                            <tr>
                                <td>{{ Frai.type }}</td>
                                <td>{{ Frai.quantity }}</td>
                                <td>{% if Frai.dateDuFrais %}{{ Frai.dateDuFrais|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="{{ path('forfaitfrais_edit', { 'id': Frai.id }) }}">edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div>
                        <a class="waves-effect waves-light btn red darken-2"><i class="material-icons left">picture_as_pdf</i>Generer pdf</a>
                    </div>
                </div>
                {% endfor %}
            </li>
    </ul>
    <div style="margin: 25px;" class="grey-text">
        <i class="material-icons left grey-text">archive</i>toutes les fiches frais
        <div class="divider"></div>
    </div>

    <ul class="collapsible popout" data-collapsible="accordion">
        {% for ficheFrai in allFicheFrais %}
            <li>
                <div class="collapsible-header">
                    <i class="material-icons blue-text text-darken-4">note</i>
                    {{ ficheFrai.monthyear }}
                </div>
                <div class="collapsible-body">

                    <table class="bordered highlight">
                        <thead>
                            <tr>
                              <th>Intitulé</th>
                              <th>Prix</th>
                              <th>Date</th>
                              <th>Commentaire</th> 
                              <th>Pièce jointe</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if ficheFrai.horsFrais is defined %}
                          {% for HorsFrai in ficheFrai.horsFrais %}
                              <tr>
                                  <td>{{ HorsFrai.wording }}</td>
                                  <td>{{ HorsFrai.price }}</td>
                                  <td>{% if HorsFrai.dateDuFrais %}{{ HorsFrai.dateDuFrais|date('Y-m-d H:i:s') }}{% endif %}</td>
                                  <td>{{ HorsFrai.comment }}</td>
                                  <td>{{ HorsFrai.pieceJointe }}</td>
                                  <td>
                                      <a href="{{ path('forfaithorsfrais_edit', { 'id': HorsFrai.id }) }}">edit</a>
                                  </td>
                              </tr>
                          {% endfor %}
                        {% endif %}
                        {% if ficheFrai.frais is defined %}
                          {% for Frai in ficheFrai.frais %}
                              <tr>
                                  <td>{{ Frai.type }}</td>
                                  <td>{{ Frai.quantity }}</td>
                                  <td>{% if Frai.dateDuFrais %}{{ Frai.dateDuFrais|date('Y-m-d H:i:s') }}{% endif %}</td>
                                  <td></td>
                                  <td></td>
                                  <td>
                                      <a href="{{ path('forfaitfrais_edit', { 'id': Frai.id }) }}">edit</a>
                                  </td>
                              </tr>
                          {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    <div>
                      <a class="waves-effect waves-light btn red darken-2"><i class="material-icons left">picture_as_pdf</i>Generer pdf</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <ul>
        {#<li>
            <a href="{{ path('fichefrais_new') }}">Create a new ficheFrai</a>
        </li>
        <li>
            <a href="{{ path('forfaitfrais_new', { 'ficheFraisId': lastfichefrais.0.id }) }}" class="btn">Ajouter une note de Frais</a>
        </li>
        <li>
            <a href="{{ path('forfaithorsfrais_new', { 'ficheFraisId': lastfichefrais.0.id }) }}" class="btn">Ajouter une note Hors Frais</a>
        </li>#}

    </ul>
{% endblock %}
