{% set onefichefrais = ficheFrais %}
{% block body %}
    <div class="collapsible-header">
        <i class="material-icons blue-text text-darken-4">note</i>
        {{ onefichefrais.monthyear }}
        <p>Matricule: {{ onefichefrais.user.id }}</p>
            <p>Nom: {{ onefichefrais.user.lastname }}  Prénom: {{ onefichefrais.user.firstname }}</p>
            <p>|  état: </p>
            <p>
                {% if onefichefrais.payement %}
                    {{ onefichefrais.payement }}
                {% else %}
                    En cours
                {% endif %}
            </p>
            <p>|  Montant total: </p>
            <p>
                {% set totalFrai = 0 %}
                {% set totalHorsFrai = 0 %}
                {% set totalFicheFrai = 0 %}
                {% for Frai in onefichefrais.frais %}
                    {% set totalFrai = (Frai.quantity * Frai.forfait.unitPrice) + totalFrai %}
                {% endfor %}
                {% for HorsFrai in onefichefrais.horsFrais %}
                    {% set totalHorsFrai = HorsFrai.price + totalHorsFrai %}
                {% endfor %}
                {% set totalFicheFrai = totalHorsFrai + totalFrai %}
                {{ totalFicheFrai }}€
            </p>


    </div>
    <div class="collapsible-body">

        <table class="bordered highlight">
            <thead>
            <tr>
                <th>Type de Frais</th>
                <th>Date</th>
                <th>Intitulé</th>
                <th>Prix</th>
                <th>Commentaire</th>
                <th>Etat</th>
            </tr>
            </thead>
            <tbody>
            {% for HorsFrai in onefichefrais.horsFrais %}
                <tr>
                    <td>Hors Forfait</td>
                    <td>{% if HorsFrai.dateDuFrais %}{{ HorsFrai.dateDuFrais|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ HorsFrai.wording }}</td>
                    <td>{{ HorsFrai.price }} €</td>
                    <td>
                        {% if HorsFrai.comment %}
                            {{ HorsFrai.comment }}
                        {% else %}
                            Pas de commentaire
                        {% endif %}
                    </td>
                    <td>
                        {% if HorsFrai.etat is not null %}
                            {{ HorsFrai.etat.wording }}
                        {% else %}
                            Pas encore traité
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            {% for Frai in onefichefrais.frais %}
                <tr>
                    <td>Forfait</td>
                    <td>{% if Frai.dateDuFrais %}{{ Frai.dateDuFrais|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ Frai.forfait.wording }}</td>
                    <td>{{ Frai.quantity * Frai.forfait.unitPrice }} €</td>
                    <td>
                        {% if Frai.comment %}
                            {{ Frai.comment }}
                        {% else %}
                            Pas de commentaire
                        {% endif %}
                    </td>
                    <td>
                        {% if Frai.etat is not null %}
                            {{ Frai.etat.wording }}
                        {% else %}
                            Pas encore traité
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}